.icon-cont-2 {
  width: var(--24, 24px);
  height: var(--24, 24px);
}
.icon-cont-1 {
  border: 6px solid var(--Primary-50, #f9f5ff);
  background: var(--Primary-100, #f4ebff);
  border-radius: 28px;
  width: var(--40, 40px);

  height: var(--40, 40px);
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.plan-single-cont td {
  color: var(--Gray-500, #667085);
  margin-left: 10px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  word-wrap: wrap;
  text-align: left;
}
.plan-single-cont table {
  list-style: none;

  width: 100%;
}
.plan-single-cont p {
  color: var(--Gray-500, #667085);
  text-align: center;
  /* Text md/Normal */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.plan-single-cont h2 {
  margin-top: 20px;
}
.plan-single-cont h2 {
  color: var(--Primary-700, #6941c6);
  text-align: center;
  /* Text xl/Semibold */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.plan-single-cont h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 125% */
  letter-spacing: -0.96px;
}
.plan-single-cont {
  background-color: white;
  display: flex;
  padding: 20px 16px 20px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--24, 24px);
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid var(--Gray-200, #eaecf0);
  background: var(--White, #fff);
  box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03),
    0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}
.color-purple {
  color: var(--main-dark);
}
.text-gradient {
  background: -webkit-linear-gradient(var(--main-dark), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
