.sidenav-wrapper {
  min-height: 100vh;
  width: 100%;
  background-color: var(--main-dark);
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.sidenav-logo img {
  height: 120px;
}
.sidenav-buttons-wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.sidenav-button {
  margin-bottom: 10px;
  display: flex;
  gap: 4px;

  width: 200px;
  border-radius: 10px;
  align-items: flex-end;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
}

.sidenav-button:hover {
  background-color: white;
  color: var(--main-dark);
  stroke: var(--main-dark);
}

.sidenav-button p {
  font-size: 15px;
  font-weight: 600;

  text-align: left;

  text-align: center;
  margin: 0 !important;
}

.sidenav-button p path {
  stroke: white;
}

.sidenav-button:hover .sidenav-icon {
  stroke: var(--main-dark) !important;
  fill: var(--main-dark);
}

.logout-button-wrapper {
  /* position: absolute;
  left: 2.5rem;
  bottom: 10px; */
  color: white;

  display: flex;
  margin: auto auto 1rem 0.8rem;
}
.logout-button-wrapper p {
  color: white;
}

.bg-white-btn {
  background-color: white;
  color: var(--main-dark);
  stroke: var(--main-dark);
}

.bg-white-btn .sidenav-icon {
  stroke: var(--main-dark) !important;
  fill: var(--main-dark);
}

.tablet-sidenav-wrapper {
  min-height: 100vh;
  width: 100%;
  background-color: var(--main-dark);
  padding-left: 39px;
  padding-right: 39px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;

  position: relative;
}

.tablet-sidenav {
  display: none;
}
