.recent-booking-person-image {
  width: 40px;
  height: 40px;
}
button {
  border: 0px;
  background-color: transparent;
}
thead th {
  font-weight: 500;
}
/* thead th, */
.time,
.date,
.name,
.service_type,
.date,
.phoneno {
  color: #6174a5 !important;
}
.time {
  font-weight: 600;
}
.name {
  font-weight: 600;
}
.email {
  font-weight: 400;
  color: #a3afcf;
}
/* .frame {
  width: 85vw !important;
} */
.recent-booking-head i {
  color: #6174a5;
  font-size: 25px;
}
.recent-booking-head h2 {
  font-weight: 600;
  color: #6174a5 !important;
  font-size: 22px;
}
.recent-booking-head {
  background-color: white;
  padding: 20px 0px 5px 10px;
  border-radius: 20px 20px 0px 0px;
}
/* .main-wrapper {
  margin: 20px;
} */

.action {
  text-align: center;
}
.paid,
.pending,
.failed,
.StartEvaluation,
.action-select-plan,
.action-view-eval {
  border-radius: 10px;
  width: fit-content;
  height: 30px;

  padding: 4px 15px;
  color: white;
}

tbody {
  background-color: transparent;
}
.action-view-eval {
  border-radius: 8.622px;
  background: #5122ce;
  width: 160px;
}
.action-select-plan {
  border-radius: 8.622px;
  background: #42cc7d;
  width: 160px !important;
}
.main-wrapper table tbody tr:hover + tr {
  background-color: rgb(28, 14, 68, 0.2) !important;
  color: white !important;
}
.main-wrapper table thead tr th {
  background: rgb(28, 14, 68, 0.9) !important;
  color: rgb(255, 255, 255) !important;
}
.main-wrapper table {
  text-align: center;
}
/* { */
.paid,
.StartEvaluation {
  background: rgba(66, 204, 125, 0.75);
}
.pending {
  background: rgba(242, 167, 59, 0.75);
}
.failed {
  background: rgba(234, 51, 75, 0.75);
}
.dropdown-toggle,
.dropdown-toggle:hover {
  background-color: transparent;
  color: #6174a5;
  border: 1px solid #a3afcf;
  border-radius: 10px;
}
.frame {
  width: 90%;
  margin: auto;
  
  border-radius: 16px;
  height: 90%;
}
.no-details {
  /* display: flex; */
  font-size: 25px;
  font-weight: 700;
  position: relative;

  /* background-color: white;
  text-align: center;
  margin: auto;  */
  top: 10px !important;

  /* width: inherit; */
}
.main-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  /* overflow-y: hidden;
  overflow-x: hidden; */
}
.evaluation-buttons-cont {
  width: 90%;
  margin: auto;
  /* margin-top: 30px; */
}
.name-email-image-cont {
  display: flex;
  text-align: start !important;
}
.recent-bookings-cont tr td {
  background-color: #f2f8fc !important;
}
.mobile-cont{
  display: none;
}
@media only screen and (max-width: 600px) {
  .frame {
    width: 90vw !important;
    margin: auto;

    /* height: 600px; */
  } 
  .mobile-cont{
     display: flex;
     flex-direction: column;
     margin-top: 20px;
  }
  .console-inputs Input{
     width: 290px !important;

  }
  .header{
    font-size: small;
    margin-top: 20px;
  }
  .sub-text{
    font-size: x-small;
    margin-bottom: 30px;
  }
  .console-inputs{
     flex-direction: column;
     align-items: flex-end;
  }
  .console-inputs svg{
    width: 38px !important;
 }
  .console-inputs Input
  .buttons-cont {
    height: 60px !important;
  }
  .table-div {
    overflow-x: scroll;
    height: calc(80vh - 60px) !important;
  }
  .table-div-booking {
    overflow-x: scroll;
    height: 80vh !important;
  }
  .search-bar {
    display: none;
  }
  .table-cont{
     display: none;
  }
  .recent-bookings-cont {
    height: 90vh !important;
    overflow-y: scroll;
    overflow-x: scroll !important;
    font-size: 12px;
  }
  .StartEvaluation {
    height: fit-content !important;
    width: fit-content !important;
    text-align: center;
    text-transform: uppercase !important;
    font-weight: 800;
  }

  /* .recent-booking-head {
    position: fixed;
    width: 90vw;
    height: 80px !important;
  } */
  .booking-presc {
    margin-top: 0px !important;
  }
  .evaluation-buttons-cont {
    margin-top: 10px !important;
  }

  .recent-booking-head h2 {
    font-size: 20px;
    font-weight: 900;
  }
  .recent-booking-person-image {
    display: none;
  }
  .name {
    font-size: 14px;
  }
  .email {
    font-size: 13px;
  }
  .name-email-image-cont {
    display: table-cell !important;
  }
  th {
    width: 200px;
  }
}

.transaction-table-cont{
  
  width: 100%;
  height: 100%;
  padding: 30px;
}
.transaction-table{
  width: 98%;
height: 98%;
box-shadow: 0px 10px 24px -5px #0000001A;
background-color: white;
border-radius: 16px;
padding: 30px;
overflow-y: scroll;
}

.transaction-table-console h3{
  font-size: 24px;
  font-weight: 600;
  color:#3C3F53
}

.console-inputs{
   width: 100%;
   display: flex;
   gap:30px
}
.console-inputs Input{
   width: 546px;
   height: 50px;
   border-radius: 10px;
   background: #F4F4F4;
   border:none

}
.name-cont{
   display: flex;
   gap:13px
}
.name-cont p{
   margin-top: -8px;
   font-family: Lato;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
color:#8C90AA
}

.time{
  color:#7257FF !important;
  font-weight: 700;
 margin-top: 2px;
}

.paid{
  width:133px;
height: 40px;

padding: 10.5px, 10px, 10.5px, 10px;
border-radius: 39px;
background: #00B74D26;
color:#00B74D;


}

.pending{
  background: #F7930026;
  width: 133px;
  height: 40px;

  padding: 10.5px, 10px, 10.5px, 10px;
  border-radius: 39px;
color: #F79300;

  
}

.fail{
  width: 133px;
height: 40px;

padding: 10.5px, 10px, 10.5px, 10px;
border-radius: 39px;
color:#D10000;
background: #F8D9D9;


}
.outlined{
  width: 156px;
height: 44px;
padding: 12.5px, 16px, 12.5px, 16px;
border-radius: 12px;
background: #7257FF26;
color:#7257FF

}
.empty{
  padding: 12.5px, 16px, 12.5px, 16px;
  width: 156px;
  font-weight: 600;
}
.fill{
  width: 156px;
  height: 44px;
  padding: 12.5px, 16px, 12.5px, 16px;
  border-radius: 12px;
  background-color: #7257FF;
  color: white;
}

.plan-select{
  width: 491px;
  height: 112px;
  border-radius: 16px;
  background: #F4F4F4;
  margin-bottom: 16px;
  padding: 20px;
  cursor: pointer;
}
.plan-select:hover{
  background: #7257FF26;

}
.plan-select-right h4{
  font-family: Lato;
font-size: 15px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0em;
color: #3C3F53;
margin: 0;
}
.plan-select p{
  font-family: Lato;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color:#8C90AA
}

.drill-main-box{
   width: 100%;
 
}

.weeks{
  height: 52px;
  display: flex;
  justify-content: space-between;
}


.weekbuttons{
   display: flex !important;
   flex-direction: row;
 
  justify-content: start;
  align-items: center;
  gap:16px;
  
  


}
.week-button{
  width: 106px;
height: 41px;
padding: 19px 24px 19px 24px;
gap: 6px;
border-radius: 16px;
border: 1px;
background: #FFFFFF;
display: flex;
justify-content: center;
align-items: center;

font-size: 16px;
font-weight: 500;
line-height: 14px;
letter-spacing: 0px;
text-align: center;

}
.week-buttontwo{
  width: 106px;
height: 41px;
padding: 19px 24px 19px 24px;
gap: 6px;
border-radius: 16px;
border: 1px;
background: #FFFFFF;
display: flex;
justify-content: center;
align-items: center;
color:#817AA5;
font-size: 16px;
font-weight: 500;
line-height: 14px;
letter-spacing: 0px;
text-align: center;

}
.week-button-selected{
   background-color: #7257FF;
   color:white;
}

.week-button-selectedtwo{
  color:#7257FF !important;
  background: #7257FF1A !important;


}
.week-button:focus{
  background-color: #7257FF;
  color:white;
}
.week-buttontwo:focus{
  color:#7257FF !important;
  background: #7257FF1A !important;
}
.upgrade-plan{
  width: 100%;
height: 51px;

padding: 19px 24px 19px 24px;

border-radius: 16px;   
border: 1;
background: #7257FF;
color:white;
display: flex;
justify-content: center;
align-items: center;
}

input[type='radio'] {
  box-sizing: border-box;
  appearance: none;
  background: white;
  outline: 2px solid #333;
  border: 3px solid white;
  width: 16px;
  height: 16px;
}

input[type='radio']:checked {
  background: #333;
}
.video-cont{
  width: 100%;
 
  padding: 19px 24px 19px 24px;
  background-color: white;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 16px;
  display: flex;
  gap:30px;
  
  
}

.calibration-forms{ 
  width: 100%;
 
  padding: 19px 24px 19px 24px;
  background-color: white;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 16px;
 
  gap:30px;
}

.calibration-forms-cont{
  width: 100%;
  height: fit-content;

  display: grid;
  grid-template-rows: repeat(2, 3fr);
  grid-template-columns: repeat(2, 15fr);
  gap:20px 12px
}
.video-player{
   width: 50%;
   height: 400px;
   border-right:solid;
   border-width: 1px;
   border-color: #E8EAF0;
}

.accordion{
   width: 50%;
  
   
}
.form-cont{

}

.tasks{
  padding: 10px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
}

.task-title{
  font-family: Lato;
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: -0.01em;
text-align: left;
color:#4E5566;
margin:0;
}

.task-title-cont{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap:3px;
}

.tasks:hover{
  background: #1C0D441A;

}